{% extends 'base.html'%}

{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<main class="container">
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Welcome to Hands On.</h1>
        <span class="subheading"><i class="fas fa-quote-left"></i> <em>{{quote.quote}}</em> <i
                 class="fas fa-quote-right"></i></span><br>
        <h2 class="lead my-3">{{quote.author}}</h2><br><br>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">{{quote.permalink}}</a></p>
    </div>
</div>

<div class="row">
<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <i class="fa-solid fa-pen"></i>
            <strong class="d-inline-block mb-2 text-success">{{ blog.title }}</strong>
            <h3 class="mb-0">{{ blog.username }}</h3>
            <small class="text-muted">{{ blog.date_posted }}</small>
            <p class="mb-auto article-content">{{ blog.content }}</p>
            <a href="#" class="stretched-link">{{blog.username}}</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">New Blog</text>
            </svg>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
    <!-- sticky note -->
    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="fst-italic">About</h4>
                <p class="mb-0">Hands on, is a blog site developed in may 2022, by Gladys Wambura.
                    We are here to make you feel at place and enjoy every bit of this articles.
                </p>
            </div>
        </div>

        <div class="p-4">
            <h4 class="fst-italic">Find me on:</h4>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="https://github.com/gladyswambura">GitHub</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="https://www.linkedin.com/in/gladys-wahito-wambura/">Linkedin</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</main>
{%endblock%}